/*
  FONTS
  RESET
  SETUP
  USED IN JS
  MAIN STYLE
    TEXT STYLING
    NAVIGATION
    PAGE 1 ÷ PAGE 6
    FOOTER
  MEDIA QUERIES
*/

/* FONTS */
@font-face {
  font-family: "agrandir";
  src: url(../fonts/Agrandir/OTF/Agrandir-GrandHeavy.otf) format("opentype");
  src: url(../fonts/Agrandir/TTF/Agrandir-GrandHeavy.ttf) format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "agrandir";
  src: url(../fonts/Agrandir/OTF/Agrandir-Medium.otf) format("opentype");
  src: url(../fonts/Agrandir/TTF/Agrandir-Medium.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "agrandir";
  src: url(../fonts/Agrandir/OTF/Agrandir-WideLight.otf) format("opentype");
  src: url(../fonts/Agrandir/TTF/Agrandir-WideLight.ttf) format("truetype");
  font-weight: 200;
}

// Colors
$cc-blue: #1a23fb;
$cc-pink: #fc29fc;

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

/* SETUP */

html,
body {
  width: 100%;
  height: 100%;
  font-family: "agrandir";
}

/* USED IN JS */

.menu.full-screen {
  clip-path: circle(120vh);
}

.hide {
  position: relative;
  opacity: 0;
  pointer-events: none;
}

/* MAIN STYLE */

.container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* TEXT STYLING */

h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-variation-settings: "wght"400, "wdth"110;
}

a {

  &:link,
  &:visited,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

/* NAVIGATION */

nav .menu {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: #1a23fb;
  justify-content: space-evenly;
  padding: 5rem;
  align-items: center;
  clip-path: circle(32px at calc(100vw - 42px) calc(0vh + 42px));
  transition: all 1s ease;

  .hamburger {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 4rem;
    height: 4rem;
    padding: .5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    .line {
      width: 2rem;
      height: 3px;
      background-color: white;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  a {
    text-decoration: none;
    font-size: 1.5rem;

    &:link,
    &:visited {
      color: white;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

// HEADER
header {
  padding: .75rem;
  margin-bottom: -.75rem;
  background-color: white;

  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: $cc-pink;
  }
}

// PAGE 0
.page0 {
  position: relative;
  height: 25rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 20%;

  h1 {
    text-transform: uppercase;
    color: $cc-blue;
    margin-bottom: .5rem;
  }

  a.link {
    cursor: pointer;
    font-size: .75rem;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    align-self: flex-start;
    padding: 5px 10px;
    background-color: $cc-pink;
    border-radius: 3px;
    width: auto;    
  }

  .one {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 55%;
    opacity: 0.5;
    width: 15rem;
  }

  .two {
    position: absolute;
    z-index: -1;
    top: 45%;
    transform: translateY(-50%);
    left: 45%;
    width: 10rem;
  }
}

// SAMPLER
.sampler {
  border: 1px solid #000;
  width: 100%;
  height: 100vh;
}

// PAGE 1
.page1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;

  .section2 {
    margin: 4rem;
  }

  .hand {
    display: none;
  }
}

/* PAGE 2 */

.page2 {
  display: grid;
  grid-template-rows: 1fr 4rem auto 4rem;
  grid-template-columns: .25fr 1fr .25fr 1fr .25fr;
  grid-template-areas: ". topLeft . topRight ."". . . . ."". botLeft . botRight ."". . . . .";

  .section1 {
    grid-area: topLeft;
    justify-self: center;
    align-self: center;
    color: #1a23fb;
    padding: 1rem;
    overflow: hidden;

    h3 {
      font-size: 1.5rem;
    }

    p {
      margin-top: 1rem;
    }
  }

  .section2 {
    grid-area: topRight;
    justify-self: center;
    align-self: center;
    font-size: 3rem;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;

    :nth-child(1) {
      left: 0;
      transform: translateY(40%);
      color: #2cfefe;
    }

    :nth-child(2) {
      transform: translateY(-40%);
      margin-left: 30px;
      mix-blend-mode: darken;
      color: #fc29fc;
    }
  }

  .section3 {
    grid-area: botLeft;
    color: white;
    background-color: #1a23fb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    font-size: 1.5rem;
    position: relative;
    text-transform: uppercase;
    padding: 1rem;

    .bg {
      z-index: -1;
      top: 2rem;
      left: 1rem;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(../img/mosaico-div3.png);
      background-size: cover;
      background-position: bottom;
    }
  }

  .section4 {
    position: relative;
    grid-area: botRight;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1rem;

    h3 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    :nth-child(1) {
      color: #1a23fb;
    }

    img {
      position: absolute;
      bottom: -2rem;
      width: 175px;
    }
  }
}

/* VIDEO */

.video1 {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/youtube-lazyloader.png);
  margin-top: 2rem;
  background-size: cover;
  background-position: center;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease;
  }

  #play {
    cursor: pointer;
    color: white;
    display: inline-block;
    font-size: 4rem;
  }
}

/* PAGE 3 */

.page3 {
  position: relative;
  display: grid;
  grid-template-rows: 4rem 1fr auto 4rem;
  grid-template-columns: .25fr 1fr .25fr 1fr .25fr;
  grid-template-areas: ". . . . ."". left . right ."". . . botRight ."". . . . .";

  .section1 {
    grid-area: left;
    justify-self: center;
    align-self: center;
    padding: 1rem;
    overflow: hidden;

    h3 {
      font-size: 1.5rem;
      color: #fc29fc;
    }

    p {
      margin-top: 1rem;
    }
  }

  .section2 {
    grid-area: right;
    justify-self: center;
    align-self: center;
    max-width: 100%;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;

    h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 3rem;
    }

    :nth-child(1) {
      color: #fc29fc;
    }

    :nth-child(3) {
      -webkit-text-stroke: 1px #fc29fc;
      color: transparent;
    }

    :nth-child(4) {
      color: #1a23fb;
    }
  }

  .link {
    grid-area: botRight;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1.5rem;
      color: white;
      background-color: #fc29fc;
      padding: 0 1rem;
    }
  }

  .hand-black {
    position: absolute;
    width: 150px;
    top: 10px;
    right: -20px;
  }
}

/* PAGE 4 */

.page4 {
  background-color: #eee;
  display: grid;
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-columns: .25fr 1fr .25fr 1fr .25fr;
  grid-template-areas: ". . . . ."". img . right ."". . . . .";

  .section1 {
    grid-area: right;
    justify-self: center;
    align-self: center;
    padding: 1rem;
    overflow: hidden;

    h3 {
      font-size: 1.5rem;
      color: #1a23fb;
    }

    p {
      margin-top: 1rem;
    }

    .quote {
      color: grey;
    }
  }

  img {
    grid-area: img;
    align-self: center;
    justify-self: center;
    width: 80%;
    max-width: 200px;
  }
}

/* PAGE 5 */

.page5 {
  display: grid;
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-columns: .25fr 1fr .25fr 1fr .25fr;
  grid-template-areas: ". . . . ."". left . img ."". . . . .";

  .section1 {
    grid-area: left;
    justify-self: center;
    align-self: center;
    padding: 1rem;
    overflow: hidden;

    h3 {
      font-size: 1.5rem;
      color: #1a23fb;
    }

    p {
      margin-top: 1rem;
    }

    .quote {
      color: grey;
    }
  }

  img {
    grid-area: img;
    align-self: center;
    justify-self: center;
    width: 80%;
    max-width: 200px;

    p {
      text-transform: uppercase;
      color: white;
      background-color: #fc29fc;
      padding: .25rem 1rem;
    }
  }
}

/* PAGE 6 */

.page6 {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 2rem auto 2rem 1fr 2rem;
  grid-template-columns: .25fr 1fr .25fr 1fr .25fr;
  grid-template-areas: ". . team . ."". . . . ."". grid grid grid ."". . . . ."". . contacts . .";
  text-align: center;
  background-image: url(../img/background-team.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 60px;

  .team {
    grid-area: team;
    font-size: 2rem;
  }

  .images {
    grid-area: grid;
    display: grid;

    img:hover {
      border: 2px solid white;
    }

    .firstRow,
    .secondRow {
      display: flex;
      justify-content: center;

      img {
        width: 150px;
        height: 150px;
        margin: .5rem;
      }
    }
  }

  .contacts {
    color: grey;
    grid-area: contacts;
  }
}

/* FOOTER */

footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr .3fr;
  grid-template-areas: "top top top""bot bot bot";
  background-color: #eee;

  .top {
    width: 100%;
    position: relative;
    grid-area: top;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-self: center;
    align-self: center;
    padding: 5rem;
    color: #fc29fc;

    span {
      margin-bottom: .5rem;

      a {
        text-decoration: none;
        color: #fc29fc;

        &:link,
        &:visited {
          color: #fc29fc;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .icons {
      display: flex;
      align-items: center;

      .fb,
      .ig,
      .yt {
        margin: 0 5px;
      }

      :first-child,
      :nth-child(2),
      :last-child {
        height: 30px;
      }
    }

    .hand {
      width: 200px;
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
    }
  }

  .bot {
    grid-area: bot;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 2rem 0 2rem;
    align-self: center;
    align-items: center;
    color: #fc29fc;
    background-color: #1a23fb;
    height: 100%;

    .logo {
      font-size: 2rem;
      display: flex;
      align-items: center;
    }

    * {
      margin-top: 5px;
    }
  }
}

/* MEDIA QUERIES */

/* iPhone 6/7/8 Portrait */
/*
@media screen and (max-device-width: 667px) {
  .container {
    min-width: 300px;
  }

  .page1 {
    .header {
      margin-left: 0;
    }

    display: grid;
    grid-template-rows: 25vh 2rem auto 2rem auto 2rem;
    grid-template-columns: 2rem 1fr 2rem 1fr 2rem;
    grid-template-areas: "header header header header header"". . . . ."". contentLeft contentLeft contentLeft ."". . . . ."". contentRight contentRight contentRight ."". . . . .";

    img {
      display: none;
    }

    .section1 {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }

  .page2 {
    display: grid;
    grid-template-rows: auto 2rem auto 2rem;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-areas: ". top ."". . ."". bot ."". . .";

    .section1 {
      grid-area: top;
    }

    .section2,
    .section3 {
      display: none;
    }

    .section4 {
      grid-area: bot;
    }
  }

  .page3 {
    grid-template-rows: 4rem auto auto 2rem auto 2rem;
    grid-template-columns: .25fr 1fr .25fr 1fr .25fr;
    grid-template-areas: ". . . . ."". right right right ."". botRight botRight botRight ."". . . . ."" . left left left .";
  }

  .page4 {
    grid-template-rows: 2rem 1fr 2rem;
    grid-template-columns: .25fr 1fr .25fr 1fr .25fr;
    grid-template-areas: ". . . . ."". right right right ."". . . . .";

    img {
      display: none;
    }
  }

  .page5 {
    grid-template-rows: 2rem 1fr 2rem;
    grid-template-columns: .25fr 1fr .25fr 1fr .25fr;
    grid-template-areas: ". . . . ."". left left left ."". . . . .";

    img {
      display: none;
    }
  }

  .page6 {
    grid-template-rows: auto 2rem auto 2rem auto 2rem;
    grid-template-columns: .25fr 1fr .25fr 1fr .25fr;
    grid-template-areas: ". . team . ."". . . . ."". grid grid grid ."". . . . ."". . contacts . .";

    .images {
      justify-self: center;
      display: flex;
      flex-direction: column;

      img {
        width: auto;
        height: auto;
      }

      .firstRow,
      .secondRow {
        flex-flow: column;
      }
    }
  }

  footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr .3fr;
    grid-template-areas: "top top top""bot bot bot";

    .top .hand {
      width: 150px;
      top: 45%;
    }

    .bot {
      padding: 0 1rem;
    }
  }
}
*/
/* Laptop */
/*
@media screen and (min-device-width: 1024px) {
  .container {
    max-width: 1024px;
    min-width: 824px;
  }
}
*/