@font-face {
  font-family: "agrandir-normal";
  src: url(../fonts/agrandir/Agrandir-TextBold.otf) format('opentype');
}

@font-face {
  font-family: "agrandir-bold";
  src: url(../fonts/agrandir/Agrandir-GrandHeavy.otf) format('opentype');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "agrandir-normal";
  // font-weight: bold;
}

.page1 {
  display: grid;
  grid-template-rows: .75fr 8rem 1fr 4rem;
  grid-template-columns: .25fr 1fr .25fr 1fr .25fr;
  grid-template-areas:
    '. header header header header'
    '. . . . .'
    '. contentLeft . contentRight .'
    '. . . . .';

  .header {
    font-size: 1.5rem;
    font-family: "agrandir-bold";
    grid-area: header;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr .4fr 1fr 1fr 1fr 1fr .2fr;
    grid-template-rows: 1fr auto 1fr 2fr;
    background-color: rgba(26, 35, 251, 1);

    b {
      background-color: rgba(252, 41, 252, 1);
      grid-column: 4 / 8;
      grid-row: 3 / 5;
    }

    h1 {
      font-size: 5rem;
      text-transform: uppercase;
      font-stretch: 200;
      color: rgba(252, 41, 252, 1);
      grid-column: 3 / 5;
      grid-row: 2;
    }

    h2 {
      font-family: "agrandir-normal";
      color: white;
      grid-column: 3 / 5;
      grid-row: 3;
    }
  }

  .section1 {
    font-family: "agrandir-bold";
    font-size: 1.5rem;
    overflow: hidden;
    text-transform: uppercase;
    grid-area: contentLeft;
    justify-self: center;
    align-self: center;

    h1 {
      color: rgba(26, 35, 251, 1);
    }

    :last-child {
      color: transparent;
      -webkit-text-stroke: 1px rgba(26, 35, 251, 1);
    }
  }


  .section2 {
    grid-area: contentRight;
    align-self: center;
    justify-self: center;
    padding: 2rem 1.5rem;
    color: white;
    background-color: rgba(26, 35, 251, 1);
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-bottom: 2rem solid rgb(44, 254, 254);

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}

// PAGE 2 //
.page2 {
  display: grid;
  grid-template-rows: 1fr 4rem auto 4rem;
  grid-template-columns: .25fr 1fr .25fr 1fr .25fr;
  grid-template-areas:
    '. topLeft . topRight .'
    '. . . . .'
    '. botLeft . botRight .'
    '. . . . .';

  .section1 {
    grid-area: topLeft;
    justify-self: center;
    align-self: center;
    color: rgba(26, 35, 251, 1);
    padding: 1rem;
    overflow: hidden;

    h3 {
      font-size: 1.5rem;
    }

    p {
      margin-top: 1rem;
    }
  }

  .section2 {
    grid-area: topRight;
    justify-self: center;
    align-self: center;
    font-size: 4em;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: start;
    max-width: 100%;
    position: relative;
    height: 100%;
    width: 100%;

    :nth-child(1) {
      // position: absolute;
      color: rgba(44, 254, 254, 1);
    }

    :nth-child(2) {
      margin-top: -15vw;
      text-align: center;
      mix-blend-mode: darken;
      color: rgba(252, 41, 252, 1);
    }
  }

  .section3 {
    grid-area: botLeft;
    color: white;
    background-color: rgba(26, 35, 251, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    font-family: "agrandir-bold";
    font-size: 1.5rem;
    position: relative;
    text-transform: uppercase;

    .bg {
      z-index: -1;
      top: 5vw;
      left: 5vw;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(252, 41, 252, 1);
    }
  }

  .section4 {
    grid-area: botRight;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1rem;

    h3 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    :nth-child(1) {
      color: rgba(26, 35, 251, 1);
    }
  }
}

// VIDEO //
.video1 {
  width: 100vw;
  height: 56.25vw;
  display: grid;
  justify-content: center;
  align-content: center;
  background: rgba(26, 35, 251, 1);
  margin-top: 2rem;

  #play {
    color: white;
    display: inline-block;
    font-size: 4rem;
  }
}

// PAGE 3 //
.page3 {
  display: grid;
  grid-template-rows: 4rem 1fr auto 4rem;
  grid-template-columns: .25fr 1fr .25fr 1fr .25fr;
  grid-template-areas:
    '. . . . .'
    '. left . right .'
    '. . . botRight .'
    '. . . . .'
  ;

  .section1 {
    grid-area: left;
    justify-self: center;
    align-self: center;
    padding: 1rem;
    overflow: hidden;

    h3 {
      font-size: 1.5rem;
      color: rgba(252, 41, 252, 1);
    }

    p {
      margin-top: 1rem;
    }
  }

  .section2 {
    grid-area: right;
    justify-self: center;
    align-self: center;
    max-width: 100%;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;

    h2 {
      text-align: center;
      font-family: "agrandir-bold";
      text-transform: uppercase;
      font-size: 2.5rem;
    }

    :nth-child(1) {
      color: rgba(252, 41, 252, 1);
    }

    :nth-child(3) {
      -webkit-text-stroke: 1px rgba(252, 41, 252, 1);
      color: transparent;
    }

    :nth-child(4) {
      color: rgba(26, 35, 251, 1);
    }

  }

  .link {
    grid-area: botRight;
    // margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;



    p {
      // display: inline-block;
      font-size: 1.5rem;
      color: white;
      background-color: rgba(252, 41, 252, 1);
      padding: 0 1rem;
    }
  }
}

// PAGE 4 //
.page4 {
  background-color: #eee;
  display: grid;
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-columns: .25fr 1fr .25fr 1fr .25fr;
  grid-template-areas:
    '. . . . .'
    '. img . right .'
    '. . . . .'
  ;

  .section1 {
    grid-area: right;
    justify-self: center;
    align-self: center;
    padding: 1rem;
    overflow: hidden;

    h3 {
      font-size: 1.5rem;
      color: rgba(26, 35, 251, 1);
    }

    p {
      margin-top: 1rem;
    }

    .quote {
      color: grey;
    }
  }
}

// PAGE 5 //
.page5 {
  display: grid;
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-columns: .25fr 1fr .25fr 1fr .25fr;
  grid-template-areas:
    '. . . . .'
    '. left . img .'
    '. . . . .'
  ;

  .section1 {
    grid-area: left;
    justify-self: center;
    align-self: center;
    padding: 1rem;
    overflow: hidden;

    h3 {
      font-size: 1.5rem;
      color: rgba(26, 35, 251, 1);
    }

    p {
      margin-top: 1rem;
    }

    .quote {
      color: grey;
    }
  }

  .section2 {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-family: agrandir-bold;
      text-transform: uppercase;
      color: white;
      background-color: rgba(252, 41, 252, 1);
      padding: .25rem 1rem;
    }
  }
}

// PAGE 6 //
.page6 {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 2rem auto 2rem 1fr 2rem;
  grid-template-columns: .25fr 1fr .25fr 1fr .25fr;
  grid-template-areas:
    '. . team . .'
    '. . . . .'
    '. grid grid grid .'
    '. . . . .'
    '. . contacts . .'
  ;
  text-align: center;

  .bg {
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 105%;
    position: absolute;

  }

  .team {
    grid-area: team;
    font-family: "agrandir-bold";
  }

  .images {
    grid-area: grid;
    display: grid;

    .firstRow {
      display: flex;
      justify-content: center;

      img {
        width: 150px;
        margin: .5rem;
      }
    }

    .secondRow {
      display: flex;
      justify-content: center;

      img {
        width: 150px;
        margin: .5rem;
      }
    }

  }

  .contacts {
    color: grey;
    grid-area: contacts;
  }
}

// FOOTER //
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr .3fr;
  grid-template-areas:
    '. top .'
    'bot bot bot'
  ;
  background-color: #eee;

  .top {
    grid-area: top;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-self: center;
    align-self: center;
    padding: 5rem;
    color: rgba(252, 41, 252, 1);
    font-family: "agrandir-bold";

    .icons {
      display: flex;
    }
  }

  .bot {
    grid-area: bot;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-self: center;
    align-items: center;
    color: rgba(252, 41, 252, 1);
    background-color: rgba(26, 35, 251, 1);
    height: 100%;

    .logo {
      font-size: 2rem;
    }
  }
}