@font-face {
  font-family: "agrandir";
  src: url(../fonts/Agrandir/OTF/Agrandir-GrandHeavy.otf) format("opentype");
  src: url(../fonts/Agrandir/TTF/Agrandir-GrandHeavy.ttf) format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "agrandir";
  src: url(../fonts/Agrandir/OTF/Agrandir-Heavy.otf) format("opentype");
  src: url(../fonts/Agrandir/TTF/Agrandir-Heavy.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "agrandir";
  src: url(../fonts/Agrandir/OTF/Agrandir-Medium.otf) format("opentype");
  src: url(../fonts/Agrandir/TTF/Agrandir-Medium.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "agrandir";
  src: url(../fonts/Agrandir/OTF/Agrandir-Regular.otf) format("opentype");
  src: url(../fonts/Agrandir/TTF/Agrandir-Regular.ttf) format("truetype");
  font-weight: 200;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  font-family: "agrandir";
  color: #232323;
  background: whitesmoke;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-top: 45px;
}

.modal-open {
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 1rem 0;
}

h2 {
  color: #1a23fb;
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0.75rem 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #1a23fb;
  margin: 0.5rem 0;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.25rem 0;
}

a:link, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

nav {
  padding-top: 45px;
  overflow: hidden;
  visibility: hidden;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  display: none;
  background: whitesmoke;
  flex-flow: column;
  align-items: center;
}
nav ul {
  width: 100%;
  height: 100%;
  max-height: 512px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-end;
}
nav ul a {
  background: #1a23fb;
  margin: 1rem 0;
  font-size: 1.5rem;
}
nav ul a h2 {
  margin: 0;
  color: whitesmoke;
  padding: 0 0.5rem;
}

.extended {
  visibility: visible;
  display: flex;
}

.redbull {
  height: 250px;
  animation: shake 2s infinite;
}

@keyframes wobble {
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}
header {
  z-index: 10;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  max-height: 45px;
}
header > div {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  overflow-y: hidden;
  background-color: rgba(245, 245, 245, 0.75);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
  transition: max-height 0.65s, background-color 0.65s;
  border-bottom: 1px solid rgba(245, 245, 245, 0.25);
}
header > div h1 {
  mix-blend-mode: multiply;
  display: inline-block;
  text-transform: uppercase;
  color: #fc29fc;
  font-weight: 900;
  margin: 0 0 -0.6rem 0.4rem;
}
header > div .hamburger {
  mix-blend-mode: multiply;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
header > div .hamburger .line {
  width: 1.5rem;
  height: 2px;
  background-color: #1a23fb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.welcome {
  position: relative;
  min-height: calc(312px);
  z-index: 3;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.welcome .title {
  display: flex;
  flex-flow: column;
  line-height: 1;
}
.welcome .title h1 {
  margin: 0.25rem 0;
  padding: 0.45rem 0.5rem 0 0.25rem;
  align-self: flex-start;
  color: white;
  text-transform: uppercase;
  background: #1a23fb;
  mix-blend-mode: multiply;
  opacity: 0.9;
}
.welcome img {
  mix-blend-mode: multiply;
  min-height: 115px;
  max-height: 150px;
}
.welcome .hand-left {
  position: absolute;
  right: -1.5rem;
  top: 10%;
  height: 100px;
  transform-origin: 100% 50%;
  animation: shake 3s infinite ease;
}
.welcome .mic {
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 5%;
}

@keyframes shake {
  50% {
    transform: rotate(5deg);
  }
}
footer {
  margin-top: 1rem;
  width: 100%;
  position: relative;
  background-color: #eee;
}
footer p {
  color: #fc29fc;
}
footer .icons img {
  height: 35px;
  margin: 0 0.25rem;
}
footer .hand {
  position: absolute;
  height: 100px;
  top: 0.5rem;
  left: -1rem;
  animation: shake 2s infinite;
}
footer a {
  color: #fc29fc;
}
footer .row {
  display: flex;
  flex-flow: column;
  align-items: center;
}
footer .bottom {
  background: #1a23fb;
  flex-flow: row;
  justify-content: space-between;
  font-weight: 600;
  padding: 1rem;
}
footer .top {
  padding: 2rem;
}

main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 2.5rem;
  padding: 4rem 1rem;
}
main h3 {
  margin-bottom: 1rem;
}
main p {
  max-width: 25ch;
}
main blockquote {
  margin-top: 0.75rem;
  color: grey;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 1rem;
}
main blockquote img {
  margin-top: 0.75rem;
  opacity: 0.5;
  height: 1.25rem;
}
main img {
  height: 200px;
}
main:nth-child(even) {
  background-color: #eee;
}

.tour {
  color: whitesmoke;
  background: #1a23fb !important;
}
.tour h2 {
  color: whitesmoke;
}
.tour div:nth-of-type(1) {
  display: flex;
  flex-flow: column;
}
.tour div:nth-of-type(1) span:nth-of-type(1) {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-right: 2rem;
}
.tour div:nth-of-type(1) span:nth-of-type(1) h1 {
  line-height: 1;
  border-top: 0.45rem solid whitesmoke;
  padding: 0 0.25rem;
  font-size: 2rem;
  color: #1a23fb;
  background: whitesmoke;
  margin: 0.25rem 0;
}
.tour div:nth-of-type(1) span:nth-of-type(2) * {
  margin: 0;
  align-self: flex-end;
  color: #fc29fc;
}
.tour div:nth-of-type(1) span:nth-of-type(3) {
  margin-top: -0.5rem;
  line-height: 1;
}
.tour div:nth-of-type(1) span:nth-of-type(3) * {
  margin: 0;
}
.tour div:nth-of-type(1) span:nth-of-type(3) h2 {
  font-size: 1.5rem;
}

.gift {
  background: #fc29fc;
  padding: 2rem;
}
.gift * {
  color: white;
}
.gift h2 {
  margin-top: 0;
  justify-self: center;
}
.gift ul {
  list-style: square;
  list-style-position: inside;
}

.instagram {
  background-color: whitesmoke;
}
.instagram h2 {
  color: #1a23fb;
}

.team h1 {
  text-transform: lowercase;
  position: relative;
  color: #1a23fb;
  opacity: 0.9;
}
.team h1::after {
  mix-blend-mode: multiply;
  opacity: 0.7;
  color: #fc29fc;
  content: "chi siamo";
  position: absolute;
  top: 5px;
  left: 5px;
}
.team .card img {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5rem;
}
.team .card h2 {
  margin: 0;
  font-size: 1.1rem;
}
.team .card p {
  color: grey;
  font-weight: 400;
}

.story {
  text-align: center;
}
.story h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
}
.story a {
  padding: 0.25rem 0.35rem;
  background-color: #fc29fc;
  color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 512px) {
  header .bottom .one {
    left: 50%;
  }
  header .bottom .two {
    left: 35%;
    opacity: 0.8;
  }
  header .bottom .center {
    margin-right: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  main, .sampler-container {
    border-radius: 10px;
  }

  footer {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
@media screen and (max-width: 786px) {
  .gift {
    row-column: none;
  }
}

/*# sourceMappingURL=style.css.map */
