<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Campiono Cose
    link(rel="stylesheet", href="css/style.css")
  body
    .page1
      .header
        b
        h1 #c
        h2 tagline
      .section1
        h1.
          #cam<br>
          piono<br>
        h1 casa
      .section2
        h3 il progetto
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate impedit dolor doloribus assumenda eos possimus nihil illo unde obcaecati!
    
    .page2
      .section1
        h3 180 partecipanti
        h3 130 campioni
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate impedit dolor doloribus assumenda eos possimus nihil illo unde obcaecati!
      .section2
        h1 180
        h1 130
      .section3
        h1.
          #cam<br>
          piono<br>
          cose
        .bg
      .section4
        h3 il brano
        p.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate impedit dolor doloribus assumenda eos possimus nihil illo unde obcaecati!<br><br>
          Lorem ipsum ddolor sit amet consectetur adipisicing.
    .video1
      #play ►
    .page3
      .section1
        h3 partecipa
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate impedit dolor doloribus assumenda eos possimus nihil illo unde obcaecati!
      .section2
        h2 story
        h2 story
        h2 story
        h2 story
      .link
        p guarda su ig
    .page4
      .section1
        h3 stampa
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate impedit dolor doloribus assumenda eos possimus nihil illo unde obcaecati!<br><br>
        span.quote grazia / il mattino
    .page5
      .section1
        h3 interviste
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate impedit dolor doloribus assumenda eos possimus nihil illo unde obcaecati!<br><br>
        span.quote radio base
      .section2
        p on air    
    .page6
      img.bg(src="svg/campiono-cose-bg.svg", alt="", srcset="") 
        
      h3.team team
      .images
        .firstRow
          img(src="img/sandro-s.png", alt="", srcset="")
          img(src="img/sandro-s.png", alt="", srcset="")
          img(src="img/sandro-s.png", alt="", srcset="")
        .secondRow
          img(src="img/sandro-s.png", alt="", srcset="")
          img(src="img/sandro-s.png", alt="", srcset="")
      h3.contacts contattaci  
    .footer
      .top
        span @campionocose
        .icons
          .fb fb
          .ig ig
          .yt yt
      .bot
        .logo #C
        .copyright 2020 &copy campionocose.it
