doctype html
head
  meta(charset='UTF-8')
  meta(name='description' content='Il website di Campiono Cose')
  meta(name='keywords' content='Campiono, Cose, Casa')
  meta(name='author' content='Francesca De Caro, Giorgio Cesaroni')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./css/style.css')
  link(rel='stylesheet' href='./css/sampler.css')
  link(rel='apple-touch-icon' sizes='180x180' href='./favicon/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='./favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='./favicon/favicon-16x16.png')
  link(rel='manifest' href='./favicon/site.webmanifest')
  title CampionoCose
  script(src='https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js')
  script(src='https://www.gstatic.com/firebasejs/7.14.3/firebase-storage.js')
  script(src='./src/detect.js')
  script(src='./js/menu.js' defer)
  script(src='./js/sampler.js' defer)
body
  .container
    header
      .top
        h1 c
        .hamburger
          .line
          .line
          .line
        ul#menu
          a(href='https://www.instagram.com/campionocose/' target='_blank') Instagram
          a(href='#sampler') Campionatore
          a(href='#contacts') Contattaci
      .bottom
        .center
          h1
            | Campiono
            br
            | Cose
          //- a.link(href='http://www.instagram.com/campionocose' target='_blank') Scopri di pi&ugrave;
        img.one(src='img/mosaico-header2.png' alt='')
        img.two(src='img/mosaico-header.png' alt='')        
    main.page.welcome    
      h2 Creiamo musica coi tuoi suoni, campionandoli e usandoli come strumenti musicali. Scopri come.
      //- img.hand(src='img/hand-div2.png' alt="A hand pointing at Campiono Cose's logo")
    main.page
      div
        h3 partecipa
        p
          | Cerca suoni intorno a te, registrali con una storia Instagram taggando @campionocose. Oppure vivi l'esperienza del nostro
          a(href="#sampler")  campionatore.
      .story
        h2 story
        h2 story
        h2 story
        //- h2 story
        //- img.hand-black(src='img/story-hand-black.png' alt="A hand pointing at Campiono Cose's Instagram story")
        a(href="") invia su instagram
    main.sampler-container#sampler
      #displayError.displayError.hide
        p#txtError.error
      .main
        .sampler
          #videos.videos
            video#liveVideo(muted='true' playsinline='' autoplay='')
            video#storedVideo.hide(type='video/webm' playsinline='')
              audio#audio(controls='' preload='auto')
                source(src='idea1.mp3' type='audio/mpeg')
            #micSetup.mic-setup.hidden
              .selection Seleziona Microfono
              #devices
                // where the devices go
            img#btnMic.mic-icon.half-opacity(src='icns/mic-icon.svg' alt='Microphone choice icon')
          #buttons
            .row1
              button#btnPlay
                img(src='icns/play.png' width='32' alt='')
              button#btnRecord
                img(src='icns/rec.png' width='50' alt='')
              button#btnStop
                img(src='icns/stop.png' width='32' alt='')
            .row2
              button#btnUpload
                img(src='icns/5_info.png' width='32' alt='')
        .tutorial
          h2 Come funziona?
          ul
            li
              img(src='icns/1_info.png' width='30' alt='')
              p utilizza le cuffie
            li
              img(src='icns/2_info.png' width='30' alt='')
              p per registrare
            li
              img(src='icns/3_info.png' width='30' alt='')
              p per interrompere
            li
              img(src='icns/4_info.png' width='30' alt='')
              p per riprodurre
            li
              img(src='icns/5_info.png' width='30' alt='')
              p per inviare
          h1
            | Campiono
            br
            | Cose
            span.beta beta
    //- main.page2
      .section1
        h3 How To
        p Sei circondato da suoni, campionali tramite storia IG e tagga @campionocose. Noi ne faremo musica.
      .section2
        h1 180
        h1 130
      .section3
        h1
          | #cam
          br
          |           piono
          br
          |           cose
        .bg
      .section4
        h3 il brano
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate impedit dolor doloribus assumenda
          | eos possimus nihil illo unde obcaecati!
          br
          br
          |           Lorem ipsum ddolor sit amet consectetur adipisicing.
        img(src='img/soundreef-logo.png' alt="Soundreef's logo")
        main#video.video1
          iframe.yt-video.hide(width='560' height='315' src='https://www.youtube.com/embed/oSRgmqJhTu8' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='allowfullscreen')
          #play &#x25BA;
    main.page
      img(src='img/press.png' alt='A bucket of ink and a pen representing the press')
      .section
        h3 stampa
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate impedit dolor doloribus assumenda
          | eos possimus nihil illo unde obcaecati!
          br
          br
        .quote grazia / il mattino
    main.page
      .section
        h3 interviste
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate impedit dolor doloribus assumenda
          | eos possimus nihil illo unde obcaecati!
          br
          br
        .quote radio base
      img(src='img/on-air.png' alt='A picture of a microphone that says on air')
    main.page.team
      h1
        | Chi
        br
        | Siamo
      .card
        img(src='img/alessandro.jpg' alt='A picture of Alessandro Fontana')
        h2 Alessandro Fontana
        a(href='https://www.instagram.com/sandrohohner/' target='_blank')
          p @sandrohohner
      .card
        img(src='img/gabriele.jpg' alt='A picture of Gabriele De Nardo')
        h2 Gabriele De Nardo
        a(href='https://www.instagram.com/instadenardo/' target='_blank')
          p @instadenardo
      .card
        img(src='img/antonio.jpg' alt='A picture of Antonio Saporito')
        h2 Antonio Saporito
        a(href='https://www.instagram.com/trecentosessantuno/' target='_blank')
          p @trecentosessantuno
      .card
        img(src='img/francesca.jpg' alt='A picture of Francesca De Caro')
        h2 Francesca De Caro
        a(href='https://www.instagram.com/ebast_/' target='_blank')
          p @ebast_
      .card
        img(src='img/giorgio.jpg' alt='A picture of Giorgio Cesaroni')
        h2 Giorgio Cesaroni
        a(href='https://www.instagram.com/georgecesarmusic/' target='_blank')
          p @georgecesarmusic
    footer
      .row.top
        .icons
          a(href='https://www.instagram.com/campionocose/' target='_blank')
            img.ig(src='img/instagram-icon.png' alt="Instagram's logo")
          //- a(href='https://www.youtube.com/' target='_blank')
          //-   img.yt(src='img/youtube-icon.png' alt="YouTube's logo")
          a(href='https://www.facebook.com/CampionoCose-110967697234070/' target='_blank')
            img.fb(src='img/facebook-icon.png' alt="Facebook's logo")
        a(href='https://www.instagram.com/campionocose/' target='_blank') 
          p @campionocose
        img.hand(src='img/contact-hand.png' alt='A hand pointing at the social media links')
      .row.bottom
        p #C
        p 2020 &copy; campionocose.it
