<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Campiono Cose
    link(rel="stylesheet", href="css/style.css")
  body
    .container
      .page1
        .header
          b
          h1 #c
          h2 tagline
          img.top-left(src="img/mosaico-header2.png", alt="", srcset="")
          img.bot-left(src="img/mosaico-header3.png", alt="", srcset="")
          img.bot-right(src="img/mosaico-header.png", alt="", srcset="")
        .section1
          h1.
            #cam<br>
            piono<br>
          h1 casa
        .section2
          h3 il progetto
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate impedit dolor doloribus assumenda eos possimus nihil illo unde obcaecati!
          img.hand(src="img/hand-div2.png")
      .page2
        .section1
          h3 180 partecipanti
          h3 130 campioni
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate impedit dolor doloribus assumenda eos possimus nihil illo unde obcaecati!
        .section2
          h1 180
          h1 130
        .section3
          h1.
            #cam<br>
            piono<br>
            cose
          .bg
        .section4
          h3 il brano
          p.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate impedit dolor doloribus assumenda eos possimus nihil illo unde obcaecati!<br><br>
            Lorem ipsum ddolor sit amet consectetur adipisicing.
          img(src="img/soundreef-logo.png", alt="", srcset="")
      .video1
        #play ►
      .page3
        .section1
          h3 partecipa
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate impedit dolor doloribus assumenda eos possimus nihil illo unde obcaecati!
        .section2
          h2 story
          h2 story
          h2 story
          h2 story
        img.hand-black(src="img/story-hand-black.png", alt="")
        .link
          p guarda su ig
      .page4
        .section1
          h3 stampa
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate impedit dolor doloribus assumenda eos possimus nihil illo unde obcaecati!<br><br>
          span.quote grazia / il mattino
        img(src="img/press.png", alt="")
      .page5
        .section1
          h3 interviste
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate impedit dolor doloribus assumenda eos possimus nihil illo unde obcaecati!<br><br>
          span.quote radio base
        img(src="img/on-air.png", alt="", srcset="")    
      .page6
        h3.team team
        .images
          .firstRow
            img(src="img/alessandro.jpg", alt="", srcset="")
            img(src="img/gabriele.jpg", alt="", srcset="")
            img(src="img/antonio.jpg", alt="", srcset="")
          .secondRow
            img(src="img/francesca.jpg", alt="", srcset="")
            img(src="img/giorgio.jpg", alt="", srcset="")
        h3.contacts contattaci  
      .footer
        .top
          span @campionocose
          .icons            
            img.ig(src="img/instagram-icon.png", alt="", srcset="")
            img.yt(src="img/youtube-icon.png", alt="", srcset="")          
            img.fb(src="img/facebook-icon.png", alt="", srcset="")
          img.hand(src="img/contact-hand.png", alt="", srcset="")
        .bot
          .logo
            span #C
          .copyright
            span 2020 &copy campionocose.it